{
	"presets": [
		["@babel/preset-env", {
			"modules": "commonjs",
			"targets": {
				"node": "10.24.0"
			}
		}],
		["@babel/preset-typescript"]
	],
	"plugins": [
		["@babel/plugin-proposal-class-properties", {
			"decoratorsBeforeExport": true
		}]
	]
}
